:root {
  --toastify-text-color-light: #000000d9;
}

.my-toast .Toastify__toast {
  padding: 12px 16px;
  font-size: 14px;
}

@keyframes slide-in-fwd {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slide-in-fwd {
  animation: slide-in-fwd 0.2s ease-out both;
}

@keyframes slide-out-bck {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}

.slide-out-bck {
  animation: slide-out-bck 0.2s ease-in both;
}
